nav(class="site-header sticky-top py-1")
    div(class="container d-flex flex-column flex-md-row justify-content-between")
        a(class="py-2" href="#") Logo
        a(class="py-2 d-none d-md-inline-block" href="#") Tour
        a(class="py-2 d-none d-md-inline-block" href="#") Product
        a(class="py-2 d-none d-md-inline-block" href="#") Features
        a(class="py-2 d-none d-md-inline-block" href="#") Enterprise
        a(class="py-2 d-none d-md-inline-block" href="#") Support
        a(class="py-2 d-none d-md-inline-block" href="#") Pricing
        a(class="py-2 d-none d-md-inline-block" href="#") Cart
