footer(class="container py-5")
    div(class="row")
        div(class="col-12 col-md")
            p Logo
            small(class="d-block mb-3 text-muted") © 2017-2018

        div(class="col-6 col-md")
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                li
                    a(class="text-muted" href="#") Cool stuff
                li
                    a(class="text-muted" href="#") Random feature
                li
                    a(class="text-muted" href="#") Team feature
                li
                    a(class="text-muted" href="#") Stuff for developers
                li
                    a(class="text-muted" href="#") Another one
                li
                    a(class="text-muted" href="#") Last time
            </ul>

        div(class="col-6 col-md")
            h5 Resources
            ul(class="list-unstyled text-small")
                li
                    a(class="text-muted" href="#") Resource
                li
                    a(class="text-muted" href="#") Resource name
                li
                    a(class="text-muted" href="#") Another resource
                li
                    a(class="text-muted" href="#") Final resource

        div(class="col-6 col-md")
            h5 Resources
            ul(class="list-unstyled text-small")
                li
                    a(class="text-muted" href="#") Business
                li
                    a(class="text-muted" href="#") Education
                li
                    a(class="text-muted" href="#") Government
                li
                    a(class="text-muted" href="#") Gaming

        div(class="col-6 col-md")
            h5 About
            ul(class="list-unstyled text-small")
                li
                    a(class="text-muted" href="#") Team
                li
                    a(class="text-muted" href="#") Locations
                li
                    a(class="text-muted" href="#") Privacy
                li
                    a(class="text-muted" href="#") Terms
