doctype html
html
    include includes/head.pug
    body
        include includes/navbar.pug
        
        include includes/jumbotron.pug
        
        block boxes
            include mixins/boxRow.pug
            +boxRow()
                    
        include includes/footer.pug
