doctype html
html
    head
        title= title
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="product.css")
    body
        nav(class="site-header sticky-top py-1")
            div(class="container d-flex flex-column flex-md-row justify-content-between")
                a(class="py-2" href="#") Logo
                a(class="py-2 d-none d-md-inline-block" href="#") Tour
                a(class="py-2 d-none d-md-inline-block" href="#") Product
                a(class="py-2 d-none d-md-inline-block" href="#") Features
                a(class="py-2 d-none d-md-inline-block" href="#") Enterprise
                a(class="py-2 d-none d-md-inline-block" href="#") Support
                a(class="py-2 d-none d-md-inline-block" href="#") Pricing
                a(class="py-2 d-none d-md-inline-block" href="#") Cart

        div(class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light")
            div(class="col-md-5 p-lg-5 mx-auto my-5")
                h1(class="display-4 font-weight-normal") Punny headline
                p(class="lead font-weight-normal") And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.
                a(class="btn btn-outline-secondary" href="#") Coming soon
            div(class="product-device box-shadow d-none d-md-block")
            div(class="product-device product-device-2 box-shadow d-none d-md-block")
          
        div(class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3")
            div(class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden")
                div(class="my-3 py-3")
                    h2(class="display-5") Another headline
                    p(class="lead") And an even wittier subheading.
                div(class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
            div(class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden")
                div(class="my-3 p-3")
                    h2(class="display-5") Another headline
                    p(class="lead") And an even wittier subheading.
                div(class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
                        
        footer(class="container py-5")
            div(class="row")
                div(class="col-12 col-md")
                    p Logo
                    small(class="d-block mb-3 text-muted") © 2017-2018

                div(class="col-6 col-md")
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        li
                            a(class="text-muted" href="#") Cool stuff
                        li
                            a(class="text-muted" href="#") Random feature
                        li
                            a(class="text-muted" href="#") Team feature
                        li
                            a(class="text-muted" href="#") Stuff for developers
                        li
                            a(class="text-muted" href="#") Another one
                        li
                            a(class="text-muted" href="#") Last time
                    </ul>

                div(class="col-6 col-md")
                    h5 Resources
                    ul(class="list-unstyled text-small")
                        li
                            a(class="text-muted" href="#") Resource
                        li
                            a(class="text-muted" href="#") Resource name
                        li
                            a(class="text-muted" href="#") Another resource
                        li
                            a(class="text-muted" href="#") Final resource

                div(class="col-6 col-md")
                    h5 Resources
                    ul(class="list-unstyled text-small")
                        li
                            a(class="text-muted" href="#") Business
                        li
                            a(class="text-muted" href="#") Education
                        li
                            a(class="text-muted" href="#") Government
                        li
                            a(class="text-muted" href="#") Gaming

                div(class="col-6 col-md")
                    h5 About
                    ul(class="list-unstyled text-small")
                        li
                            a(class="text-muted" href="#") Team
                        li
                            a(class="text-muted" href="#") Locations
                        li
                            a(class="text-muted" href="#") Privacy
                        li
                            a(class="text-muted" href="#") Terms
