doctype html
html
    include head.pug
    body
        include navbar.pug
        
        include jumbotron.pug
          
        div(class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3")
            block boxes
                include box.pug
                +box("light")
                +box("dark")
                    
        include footer.pug
