doctype html
html
    include head.pug
    body
        include navbar.pug
        
        include jumbotron.pug
        
        block boxes
            include boxRow.pug
            - var boxes = ["dark", "light", "dark"];
            +boxRow(boxes)
                    
        include footer.pug
