doctype html
html
    include includes/head.pug
    body
        include includes/navbar.pug
        
        include includes/jumbotron.pug
        
        block boxes
            include mixins/boxRow.pug
            each sub in subscriptions
                +boxRow(sub)           
                    
        include includes/footer.pug
