doctype html
html
    include includes/head.pug
    body
        include includes/navbar.pug
        
        include includes/jumbotron.pug
        
        div(class="container")
            img(src="cat_support.jpeg" class="d-block mx-auto")
                    
        include includes/footer.pug
